
.btn 
  padding: 0.5rem
  border: none
  border-radius: 5px
  margin: 4px  
  

$primary: #007bff
$warning: #ffc107
$danger: #dc3545


$color-fondo: #d7d7d7
$fuente-principal: 'Times New Roman', Times, serif
$tamano-fuente: 16px

.principal 
  margin: 0
  padding: 2%
  background-color: $color-fondo
  align-items: center
  text-align: left
  font-family: $fuente-principal
  font-size: $tamano-fuente


header 
  margin-bottom: 2rem
  margin: 0 auto

.modal 
  width: 500px

table 
  margin: 0 auto
  background-color: #fff
  width: 80%

select 
  margin: 0 auto

h3
  margin: 4 auto
  margin-left: 10%
  font-family: 'Times New Roman', Times, serif

.Selecciones
  margin: 4 auto
  align-tracks: center
  margin-left: 10%

nav
  margin: 4 auto
  margin-left: 10%
  margin-top: 14px

